---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Problem from '../components/Problem.astro';
import Solution from '../components/Solution.astro';
import Testimonial from '../components/Testimonial.astro';
import CompetitiveAdvantage from '../components/CompetitiveAdvantage.astro';
import Pricing from '../components/Pricing.astro';
import FAQ from '../components/FAQ.astro';
import CTA from '../components/CTA.astro';
import Contact from '../components/Contact.astro';
---

<Layout title="my-aicustom.com - AI Automation for Your Business">
	<main>
		<Hero />
		<Problem />
		<Solution />
		<Testimonial />
		<CompetitiveAdvantage />
		<Pricing />
		<FAQ />
		<CTA />
		<Contact />
	</main>
</Layout>
