---
// src/components/Solution.astro
---
<section class="bg-white dark:bg-gray-900">
    <div class="py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6">
        <div class="max-w-screen-lg text-center mx-auto mb-8 lg:mb-16">
            <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">Solusi Cerdas untuk Bisnis Anda</h2>
            <p class="text-gray-500 sm:text-xl dark:text-gray-400">Kami menawarkan berbagai solusi AI untuk membantu Anda mengatasi tantangan bisnis dan mencapai tujuan Anda.</p>
        </div>
        <div class="grid gap-8 sm:grid-cols-2 lg:grid-cols-5">
            <div class="text-center text-gray-500 dark:text-gray-400">
                <svg class="mx-auto mb-4 w-10 h-10 text-gray-400 dark:text-gray-500" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 2a8 8 0 100 16 8 8 0 000-16zM5 10a5 5 0 1110 0 5 5 0 01-10 0z" clip-rule="evenodd"></path></svg>
                <h3 class="mb-2 text-xl font-bold dark:text-white">Analisis Data</h3>
                <p>Dapatkan wawasan berharga dari data Anda.</p>
            </div>
            <div class="text-center text-gray-500 dark:text-gray-400">
                <svg class="mx-auto mb-4 w-10 h-10 text-gray-400 dark:text-gray-500" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 2a8 8 0 100 16 8 8 0 000-16zM5 10a5 5 0 1110 0 5 5 0 01-10 0z" clip-rule="evenodd"></path></svg>
                <h3 class="mb-2 text-xl font-bold dark:text-white">Prediksi</h3>
                <p>Buat keputusan yang lebih baik dengan prediksi akurat.</p>
            </div>
            <div class="text-center text-gray-500 dark:text-gray-400">
                <svg class="mx-auto mb-4 w-10 h-10 text-gray-400 dark:text-gray-500" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 2a8 8 0 100 16 8 8 0 000-16zM5 10a5 5 0 1110 0 5 5 0 01-10 0z" clip-rule="evenodd"></path></svg>
                <h3 class="mb-2 text-xl font-bold dark:text-white">Otomatisasi</h3>
                <p>Hemat waktu dan biaya dengan otomatisasi cerdas.</p>
            </div>
            <div class="text-center text-gray-500 dark:text-gray-400">
                <svg class="mx-auto mb-4 w-10 h-10 text-gray-400 dark:text-gray-500" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 2a8 8 0 100 16 8 8 0 000-16zM5 10a5 5 0 1110 0 5 5 0 01-10 0z" clip-rule="evenodd"></path></svg>
                <h3 class="mb-2 text-xl font-bold dark:text-white">Personalisasi</h3>
                <p>Berikan pengalaman pelanggan yang lebih baik.</p>
            </div>
            <div class="text-center text-gray-500 dark:text-gray-400">
                <svg class="mx-auto mb-4 w-10 h-10 text-gray-400 dark:text-gray-500" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 2a8 8 0 100 16 8 8 0 000-16zM5 10a5 5 0 1110 0 5 5 0 01-10 0z" clip-rule="evenodd"></path></svg>
                <h3 class="mb-2 text-xl font-bold dark:text-white">Keamanan</h3>
                <p>Lindungi bisnis Anda dari ancaman siber.</p>
            </div>
        </div>
    </div>
</section>
